.dropdown{
    display: grid;
    margin-bottom: 50px;
}
.dropdown-main{
    display: flex;
    margin: 15px auto;
}
.dropdown-menu{
    background-color: #E6E6E6;
    display: grid;
    grid-gap: 5px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 150px;
    border-radius: 6px;


}
a{
text-decoration: none;
}
.dropdown-toggle{
    width: 150px;
    height: 30px;
    margin: 10px;
    border-radius: 6px;
    font-size: medium;
    color: #3F3D56;
}
.dropdown-item{
    border-bottom: 1px solid #C8C8CF;
    width: 130px;
    height: 30px;
}